body {
  font-family: Roboto, sans-serif;
}

.logo {
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}

main {
  overflow-y: scroll;
  height: 85vh;
  background-color: transparent !important;
}

main::-webkit-scrollbar {
  width: 0px;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sl-logo {
  display: none;
  transition: 0.3s;
}

.lg-logo {
  transition: 0.3s;
}

.ant-layout-sider-collapsed .sl-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.ant-menu-title-content {
  font-size: 16px;
}

.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}

.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}

.profilePic {
  height: 32px;
  width: 32px;
}

.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}

.error {
  color: var(--color-e52e2e);
  font-size: 12px;
}